# Ignore node_modules
node_modules/

# Ignore logs
npm-debug.log
yarn-error.log

# Ignore environment files
.env

# Ignore build directorys
dist/

# Ignore IDE specific files (optional)
.vscode/
.idea/
